html{
    overflow: hidden; 
}
body {
    background-color: white;
    height: 90vh;
}
.login-container {
    max-width: 25rem ;
    margin: 100px auto;
    padding: 20px;
    background-color: #007FFF; 
    border-radius: 10px;
    color: white; 

}
.login-container .text-center a{
    color: white;
}
.login-container .text-center a:hover{
    color: rgb(250, 198, 26);
}
.btn-primary:hover {
    background-color: rgb(27, 27, 133);
}
.btn-link{
   color: rgb(252, 239, 239); 
}
.btn-link:hover{
    color: rgb(255, 102, 0);

}

